<div class="min-h-screen flex items-center justify-center bg-gray-100">

  <div class="bg-white p-8 rounded-2xl shadow-lg w-full max-w-md">

    <h1 class="text-3xl font-bold text-center mb-2 text-blue-900">
      ParNet Ingeniería
    </h1>

    <p class="text-center text-gray-500 mb-6">
      Acceso administrativo
    </p>

    <form (ngSubmit)="login()" class="space-y-4">

      <div>
        <label class="block font-semibold mb-1">Usuario</label>
        <input
          type="text"
          [(ngModel)]="username"
          name="username"
          class="w-full border p-3 rounded-lg"
          placeholder="admin"
          required>
      </div>

      <div>
        <label class="block font-semibold mb-1">Contraseña</label>
        <input
          type="password"
          [(ngModel)]="password"
          name="password"
          class="w-full border p-3 rounded-lg"
          placeholder="1234"
          required>
      </div>

      <p *ngIf="error" class="text-red-600 text-sm text-center">
        {{ error }}
      </p>

      <button
        type="submit"
        class="w-full bg-blue-900 text-white py-3 rounded-lg font-bold hover:bg-blue-800">
        Iniciar sesión
      </button>

    </form>

  </div>

</div>