<div class="page">

  <!-- HEADER -->
  <div class="header">
    <img src="/assets/header/logotipo.png" class="logo">
    <img src="/assets/header/titulo.png" class="titulo">
    <img src="/assets/header/telecomunicaciones.png" class="slogan">
    <img src="/assets/header/antenas.png" class="antenas">
    <img src="/assets/header/torre.png" class="torre">
    <img src="/assets/header/linea.png" class="linea">
  </div>

  <!-- BARRA DE MENSAJE -->
  <div class="mensaje-bar">
    <img src="/assets/mensaje/linea.png" class="mensaje-bg">

    <div class="mensaje-viewport">
      <img src="/assets/mensaje/bienvenido.png" class="mensaje-texto">
    </div>
  </div>

  <!-- MENU TABS -->
  <nav class="menu-tabs">
    <button (click)="seccion='inicio'">Página Principal</button>
    <button (click)="seccion='quienes'">¿Quienes Somos?</button>
    <button (click)="seccion='clientes'">Clientes</button>
    <button (click)="seccion='servicios'">Servicios</button>
    <button (click)="seccion='productos'">Productos</button>
    <button (click)="seccion='casos'">Casos De Éxito</button>
    <button (click)="seccion='contacto'">Contactos</button>
    <button (click)="seccion='socios'">Socios</button>
  </nav>

  <!-- CONTENIDO TEMPORAL -->
  <main class="content">
  </main>

  <!-- FOOTER -->
  <footer class="footer">
    <img src="/assets/footer/bg.png" class="footer-bg">
    <img src="/assets/footer/linea.png" class="footer-linea">

    <nav class="footer-links">
      <img src="/assets/footer/Página Principal.png" (click)="seccion='inicio'">
      <img src="/assets/footer/separador.png">
      <img src="/assets/footer/quienes-somos.png" (click)="seccion='quienes'">
      <img src="/assets/footer/separador.png">
      <img src="/assets/footer/clientes.png" (click)="seccion='clientes'">
      <img src="/assets/footer/separador.png">
      <img src="/assets/footer/servicios.png" (click)="seccion='servicios'">
      <img src="/assets/footer/separador.png">
      <img src="/assets/footer/productos.png" (click)="seccion='productos'">
      <img src="/assets/footer/separador.png">
      <img src="/assets/footer/casos-exito.png" (click)="seccion='casos'">
      <img src="/assets/footer/separador.png">
      <img src="/assets/footer/contacto.png" (click)="seccion='contacto'">
      <img src="/assets/footer/separador.png">
      <img src="/assets/footer/soporte.png" (click)="seccion='soporte'">
    </nav>

    <img src="/assets/footer/parnet-logo.png" class="footer-logo">
    <img src="/assets/footer/vista.png" class="footer-vista">
  </footer>

</div>